body {
  margin: 0 auto;
  max-width: 1150px;
  padding: 20px;
  background-color: #f4f4f4;
  color: #444444;
  font-family: "Noto Serif", serif;
  font-size: 20px;
}

span {
    background-color: darkgrey;
}

a {
  color: #204fd5;
}
a:visited {
  color: #334f83;
}
a:hover {
  color: #204fd5;
}

.post-title {
	font-size: 52px;
	font-weight: 700;
	margin: 15px 0;
	text-align: left;
	text-transform: none;
}

hr,
h1,
h2,
h3 {
    margin-top: 60px;
    font-family: "Noto Serif", serif;
}

h1 {
    line-height: 100%;
    border-bottom: 5px solid grey;
}

hr {
  border: 0;
}

li {
  padding: 5px 0;
}

pre {
    background-color: lightgrey;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-family: monospace;
    font-size: 16px;
    overflow-x: auto;
    white-space: pre;
    border: 1px solid #898989;
}

pre,
blockquote {
  margin-bottom: 0px;
}

p img,
table {
  width: 100%;
}

p {
	font-family: "Noto Serif", serif;
	clear: both;
}

ul {

	style:"list-style-type:disc";
}

.code_des {
	margin: 0px;
	padding: 0;
	font-size: medium;
	text-align: center;
	border: 0;
}

.neg_margin {
	margin-top: -40px;
}
